@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#ToDo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 450px;
}

#ToDo h1 {
    color: #292929;
    font-size: 20px;
    text-transform: uppercase:
}

.ToDoForm {
    display: flex;
    width: 100%;
}

.ToDoForm input {
    background: transparent;
    border: none;
    color:  #292929;
    font-size: 15px;
    width: 100%;
    padding: 4px;
    border-bottom: 2px solid #bd8a00;
}

.ToDoForm input:focus-visible {
    outline: none;
}

.ToDoForm .FormButton {
    border: none;
    min-width: 40px;
    min-height: 40px;
    background-color: #bd8a00;
    border-radius: 100%;
    font-size: 20px;
    trasition: scale 0.5s ease;
}

.ToDoForm .FormButton:hover {
    cursor: pointer;
    scale: 1.05;
}

#Tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px:
    overflow: auto;
}

.Task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #262626;
    background-color: #191933;
    padding: 8px 12px;
    border-radius: 4px;
}

.Task .Progress {
    margin-right: 10px;
}

.Task .TaskDescription {
    font-size: 16px;
    color: #fff;
    padding: 4px 0px;
    width: 100%;
}

.TAsk .TaskActions{
    display: flex;
    gap: 10px;
}

.ActionButton {
    
}

.hidden {
    display: none;
}

